<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" ng-repeat="image in carouselImages" data-slide-to="{{ image.id }}" class=""></li>
  </ol>
  <div class="carousel-inner">
    <div class="{{ image.class }}" ng-repeat="image in carouselImages">
      <a href="{{ image.href }}" target="_">
        <img ng-src="src/images/{{ image.src }}" style="border: 0; width:820px; height:500px;" class="image-carousel">
      </a>
    </div>
  </div>
  <!-- TODO if I uncomment the following it rises an error in angular!!-->
<!--  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a> -->
</div>
