<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" ng-repeat="iframe in iframes" data-slide-to="{{ iframe.id }}" class=""></li>
  </ol>
  <div class="carousel-inner">
    <div class="{{ iframe.class }}" ng-repeat="iframe in iframes">
      <iframe ng-src="{{ iframe.src }}" style="border: 0; width:820px; height:500px;"></iframe>
    </div>
  </div>
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
