<form class="form-inline" role="form">
  <div class="form-group">
    <input ng-model="query" type="text" class="form-control" id="exampleInputEmail2" placeholder="Cerca un servizio">
  </div>
  <button type="button" class="btn btn-default btn" ng-click="modalAddService()"><i class="fa fa-plus"></i> Aggiungi un servizio
  </button>
</form>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th><a href="" ng-click="sortField ='name'; reverse = !reverse">Nome servizio</a></th>
      <th>Descrizione servizio</th>
      <th>Strumenti utilizzati</th>
      <th>Note</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="service in services | filter:query | orderBy:sortField:reverse">
      <td>{{ service.id }}</td>
      <td>{{ service.name }}</td>
      <td>{{ service.description }}</td>
      <td>{{ service.struments }}</td>
      <td>{{ service.note }}</td>
      <td>
        <button type="button" class="btn btn-default btn">
          <span class="glyphicon glyphicon-shopping-cart" ng-click="modalBookService(service.id - 1)"></span>
        </button>
      </td>
      <td>
        <button type="button" class="btn btn-default btn">
          <span class="glyphicon glyphicon-pencil" ng-click="modalEditService(service.id - 1)"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
