<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome servizio</th>
      <th>Descrizione servizio</th>
      <th>Strumenti utilizzati</th>
      <th>Note</th>
      <th>Prenota</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="service in services">
      <td>{{ service.id }}</td>
      <td>{{ service.name }}</td>
      <td>{{ service.description }}</td>
      <td>{{ service.struments }}</td>
      <td>{{ service.note }}</td>
      <td><button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#modal-book">
        <span class="glyphicon glyphicon-shopping-cart"></span>
      </button></td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<!-- Modal -->
<div class="modal fade" id="modal-book" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Prenota il servizio</h4>
      </div>
      <div class="modal-body">
        <form role="form form-horizontal">
          <div class="form-group">
            <label for="exampleInputPassword1">Nome</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Inserire il tuo nome">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Cognome</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Inserire il tuo cognome">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Telefono</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Inserire il tuo telefono 070-010203">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Categoria di appartenenza</label>
            <select class="form-control">
              <option ng-repeat="category in categories">{{ category.name }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Data di prenotazione</label>
            <input class="form-control" type="text" class="span2" value="" id="dpd1">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Erogazione servizio</label>
            <select class="form-control">
              <option ng-repeat="ds in deliveryService">{{ ds.name }}</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Prenota</button>
      </div>
    </div>
  </div>
</div>
