<table class="table table-hover" ng-controller="servicesCtrl">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome servizio</th>
      <th>Descrizione servizio</th>
      <th>Strumenti utilizzati</th>
      <th>Note</th>
      <th>Prenota</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Misure XRD</td>
      <td>XRD per stimare le dimensioni delle nanoparticelle.</td>
      <td>Difrattrometro a raggi-X</td>
      <td>La diffrattometria a raggi-X (XRD) viene usata per determinare le fasi cristalline contenute nei minerali.</td>
      <th>
      <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-shopping-cart"></span>
      </button>
        <!-- <span class="glyphicon glyphicon-pencil"></span> -->
      </th>
    </tr>
    <tr>
      <td>2</td>
      <td>Misure XRD</td>
      <td>XRD per stimare le dimensioni delle nanoparticelle.</td>
      <td>Difrattrometro a raggi-X</td>
      <td>La diffrattometria a raggi-X (XRD) viene usata per determinare le fasi cristalline contenute nei minerali.</td>
      <th>
      <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-shopping-cart"></span>
      </button>
        <!-- <span class="glyphicon glyphicon-pencil"></span> -->
      </th>
    </tr>
    <tr>
      <td>3</td>
      <td>Misure XRD</td>
      <td>XRD per stimare le dimensioni delle nanoparticelle.</td>
      <td>Difrattrometro a raggi-X</td>
      <td>La diffrattometria a raggi-X (XRD) viene usata per determinare le fasi cristalline contenute nei minerali.</td>
      <th>
      <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-shopping-cart"></span>
      </button>
        <!-- <span class="glyphicon glyphicon-pencil"></span> -->
      </th>
    </tr>
  </tbody>
</table>
