<div class="btn-group btn-block">
  <button class="btn btn-default btn-lg dropdown-toggle btn-block" type="button" data-toggle="dropdown">
    Macroaree <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Macroarea 1</a></li>
    <li class="divider"></li>
    <li><a href="#">Macroarea 2</a></li>
    <li class="divider"></li>
    <li><a href="#">Macroarea 3</a></li>
    <li class="divider"></li>
    <li><a href="#">Macroarea 4</a></li>
  </ul>
</div>

<div class="btn-group btn-block">
  <button class="btn btn-default btn-lg dropdown-toggle btn-block" type="button" data-toggle="dropdown">
    Enti <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Unica</a></li>
    <li class="divider"></li>
    <li><a href="#">CESAR</a></li>
  </ul>
</div>

  <button class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#my-modal">Laboratori</button>

  <button class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#my-modal">Servizi</button>

  <button class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#my-modal">Strumentazioni</button>

