.btn-group {
	margin-top: 10px;
}

.modal-body {
	height: auto;
}

.main {
	float: right;
	margin-top:35px;
	margin-left: 220px;
}

.bs-example {
  display: none;
}

@media (max-width: 800px) {
  .main {
    margin-left: 0;
  }
  .sidebar {
    display: block;
    margin: 0 20px 0 20px;
  }
}

.datepicker {
  z-index: 1151!important;
}

.modal {
  display: block;
}
