.btn-group {
	margin-top: 10px;
}

.modal-body {
	height: auto;
}

.main {
	float: right;
	margin-top:35px;
}

.carousel.slide {
	margin-left: 200px;
}

@media (max-width: 800px) {
  .carousel.slide {
    margin-left: 0;
  }
  .sidebar {
    display: block;
    margin: 0 20px 0 20px;
  }
}
